<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Budget</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='dashboard.css') }}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">


    <style>
        form{
            width: 400px;
        }
    </style>
</head>
<body>


    <nav>
        <div class="logo">
            <img src="https://img.icons8.com/color-glass/48/null/coin-wallet.png" />
            <a href=""> Personal Expense Tracker</a>
        </div>
    
        <ul>
            <li><a href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
        </ul>
    </nav>

    <div class="container">

        <div class="page-name">
            <p class="page-title">Create budget</p>
            <div class="btns">
                
        
            </div>
        </div>

        <br>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Budget Name</label>
                <input type="text" class="form-control" name="name" >
            </div>
            <div class="mb-3">
                <label class="form-label">Amount</label>
                <input type="text" class="form-control" name="amount" >
            </div>
            <br>
            <input type="submit" class="form-control btn btn-primary" value="Create">
        </form>

    </div>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>
</html>