<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget</title>
</head>
<body>
    <p>{{budget.name}}</p>
    <p>{{budget.amount}}</p>
    {% for category in budget.categories %}
        {% if category.category != "Total" %}
            <p>{{category.category}} {{category.amount}} <a href="{{ url_for('deleteCategory',bid=category.budget,cid=category.id) }}">Delete Transaction</a></p>
        {% else %}
            <p>Total {{category.amount}}</p>
        {% endif %}    
    {% endfor %}
    <p><a href="{{ url_for('addCategory',id=budget.id) }}">Add Category</a></p>
</body>
</html>