<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='form.css') }}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    
</head>
<body>

    <nav>
        <img src="https://img.icons8.com/color-glass/48/null/coin-wallet.png" />
        <a href="">   Personal Expense Tracker</a>

    </nav>

    {% for message in get_flashed_messages() %}
        <p>{{message}}</p>
    {% endfor %}

   

        <form method="POST">
            <h2>Login</h2>
            <p>Login into your account</p>
            <br>
            <input type="email" class="form-control" name="email" placeholder="Email">
            <br>
            <input type="password" class="form-control" name="password" placeholder="Password">
            <br>
            <input type="submit" class="form-control btn btn-primary" value="Login">

            <br>
            <br>
            <p>New user? <a href="{{ url_for('signup') }}">Create an account</a></p>

        </form>

  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>

</body>
</html>