<html>
    <head>
        <title>Sign up</title>
    </head>
    <body>
        {% for category,message in get_flashed_messages(with_categories=true) %}
            <p class="msgs-{{category}}">{{message}}</p>
        {% endfor %}
        <form method="POST">
            <p>First name</p>
            <input type="text" name="firstName">
            <p>Last name</p>
            <input type="text" name="lastName">
            <p>Username</p>
            <input type="text" name="userName">
            <p>Email</p>
            <input type="email" name="email">
            <p>Password</p>
            <input type="password" name="password"><br><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>